<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2">
    <title>Road Situation</title>
    <style>
        body{
            background-color: #81F7F3;
        }
        a{
            font-size: 80px;
            position: relative;
            left: 240px;
            color: black;
        }
        p#header{
            font-size: 60px;
            position: relative;
            left: 120px;
            color: saddlebrown;
        }
    </style>
</head>
<body>
    <header>
        <p id="header">Road Situations</p>
    </header>
    <section>
    <img src="{{ user_image }}" alt="User Image">
    </section>
    <a href="">Home</a>
</body>
</html>